/*Not found for the moment may be remaining code*/
.little {	color: #9B9B9B; font-family: Verdana, Arial, Helvetica;	font-size: 38pt; }


/*.normal {	color: #9B9B9B;	font-family: Verdana, Arial, Helvetica;	font-size: 9pt;}*/
.normal {	color: red;	font-family: Verdana, Arial, Helvetica;	font-size: 30pt;}


.mainheader { clear:both;  border-bottom: 1px solid #ECECEC; height:22px; padding:4px; color: #153D51; font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 12px;	font-weight: bold;}
.mainbackground {font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;font-size: 12px;}
.mainfooter { clear:both;  border-color: #92B8CB;  border-top:1px solid #ECECEC; height:22px; padding:4px; color: #153D51; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;}


.tableheader {text-align:left; background: #f9f9f9; 	border-bottom: 1px solid #cccccc;	color: #999999;}
.tableheader_clean { }
tr.odd {background-color:inherit;}
tr.even {background-color:#FCFCFC;}
.pagenav {font-weight: bold; }
.pagenav a {font-size: 11px;	font-weight: bold;}


.alert { color: #DD0000; font-family: courier;	font-size: 8pt; }
.alert p {margin:0;}
.micro, .micro a {color:#72706B; font-weight: normal;}
.littletableheader { background: #f9f9f9; 	border-bottom: 1px solid #DFDFDF;	color: #7E7E7E;padding-left:5px;}
.tablerow {	border-bottom: 1px solid #D0D0D0;	color: #153D51;font-size: 11px;	font-weight: normal;}

.littletablerow {color: #153D51;	border-bottom: 0px solid #E4E4E4;	 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;}


form { margin: 0; padding: 0; } 
.input, .select, .password, .textarea  { font-family: Lucida Grande, Verdana, Geneva, Sans-serif;	font-size: 12px; margin: 0; padding: 2px; border: 1px solid #92B8CB; border-left:2px solid #92B8CB;}
.button {  }

/*Not found for the moment may be remaining code*/
.button_red {	background-color: #FF3300;	border: 1px solid #CC3300; color: White;	font-family: Verdana, Arial, Helvetica;	font-size: 30px; font-weight: normal;	text-decoration: none;}
/*Not found for the moment may be remaining code*/
.littlebutton {	background-color: #BED6E0;	border: 1px solid #92B8CB;	color: #153D51;	font-family: Lucida Grande, Verdana, Geneva, Sans-serif;	font-size: 22px;	text-decoration: none;}

body.mceContentBody { background: #000; color: #fff; }

