.little {	color: #9B9B9B; font-family: "Trebuchet MS",Verdana, Arial, Helvetica;	font-size: 8pt; }
.alert { color: #DD0000; font-family: "Trebuchet MS",Verdana, Arial, Helvetica;	font-size: 8pt; }
.alert p {margin:0;}

.micro, .micro a { font: 9px "Trebuchet ms","Trebuchet MS",Verdana,Tahoma,Arial,sans-serif; color: #bbb; font-weight: normal;}
.normal {	color: #9B9B9B;	font-family: "Trebuchet MS",Verdana, Arial, Helvetica;	font-size: 9pt;}

.mainbackground {	}
.littletablerow {	text-align:left; color: #153D51;	border-bottom: 1px solid #cccccc;	font-family: "Trebuchet MS",Verdana, Arial, Helvetica;	font-size: 8pt;}
.littletableheader { text-align:left; border-bottom: 1px solid #cccccc;	color: #999999;	font-family: "Trebuchet MS",Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 8pt;	font-weight: bold;}
.pagenav {	font-family: "Trebuchet MS",Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 12px;	font-weight: bold; }
.pagenav a {	font-family: "Trebuchet MS",Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold; }
.mainheader { clear:both;  height:22px; padding:4px; color: #153D51; font-family: "Trebuchet MS",Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;}
.mainfooter { clear:both;  border-color: #92B8CB;  height:22px; padding:4px; color: #153D51; font-family: "Trebuchet MS",Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;}
.tableheader {text-align:left; border-bottom: 1px solid #cccccc;	font-family: "Trebuchet MS",Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;}
.tableheader_clean { text-align:left; font-family: "Trebuchet MS",Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;}
.tablerow {text-align:left;	border-bottom: 1px solid #cccccc;	color: #153D51;	font-family: "Trebuchet MS",Verdana, Arial, Helvetica;	font-size: 11px;	font-weight: normal;}
tr.odd {background-color:inherit;}
tr.even {background-color:#FCFCFC;}

form { margin: 0; padding: 0; } 
.input, .select, .password, .textarea  { font-family: Lucida Grande, Verdana, Geneva, Sans-serif;	font-size: 12px; margin: 0; padding: 2px; border: 1px solid #92B8CB; border-left:2px solid #92B8CB;}
.button {	}
.button_red {	background-color: #FF3300;	border: 1px solid #CC3300; color: White;	font-family: "Trebuchet MS",Verdana, Arial, Helvetica;	font-size: 10px; font-weight: normal;	text-decoration: none;}
.littlebutton {	background-color: #BED6E0;	border: 1px solid #92B8CB;	color: #153D51;	font-family: "Trebuchet MS",Verdana, Arial, Helvetica;	font-size: 8pt;	text-decoration: none;}

body.mceContentBody { background: #000; color: #fff; }
