/* -------------------------------------------------------- */
div#accordion {
	border: 0px solid #1F669B;
	width: 175px;
	font-family: 'Helvetica', sans-serif;
	margin: 0;
	padding-left: 2px;
}

div#accordion h1 {
	padding: 4px 6px 4px 6px;
	margin: 0;
	font-size: 12px;
	color: #4F1010;
	background: url(accor_tbg.gif);
}

div#accordion h1 #visible {
	color: #CED7EF;
	background-color: #63699C;
}

div#accordion div.myAccordion-declencheur {
	cursor: pointer;
	margin: 0;
	padding-bottom: 0;
	border: none;
}

div#accordion div.myAccordion-content {
	padding: 0px;
	height: 250px;
}

#accordion a:link,#accordion a:visited {
	color: #5D6C81;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

div#accordion a:hover {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

div.myAccordion-content table {
	border: 0px;
	width: 100%;
	padding: 0;
}