#content {
	width: 100%;
}

.divider {
	clear: both;
	width: 550px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}

.left {
	float: left;
	padding: 5px 5px 0 5px;
	width: 100px;
	background-color: #EEEEEE;
}

.right {
	float: left;
	width: 640px;
	/*min-width: 700;*/
	margin: 0 0 0px 0;
	padding: 5px 5px 0 5px;
	color: #000;
	background-color: #FFFFFF;
	border-left: 1px solid #e6e6e6;
}

.line {
	height: 2px;
	margin: 10px 0 10px 0;
}

.footer {
	clear: both;
	color: #999999;
	padding: 10px 0 10px 0;
	border-top: 1px solid #e6e6e6;
	text-align: center;
	line-height: 13px;
}

.footer a {
	text-decoration: underline;
}

.code {
	margin: 0 0 20px 0;
	font: 11px "courier new", Tahoma, Arial, sans-serif;
	background: #f9f9f9;
	padding: 0px;
	border: 1px solid #dddddd;
}

.note {
	padding: 10px;
	background-color: #FFFFCC;
}

.note hr {
	border: none 0;
	border-bottom: 1px solid #D9D900;
	height: 1px;
}

body {
	background: url(modbus_top.png) repeat-x;
	min-width: 40;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 12px;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 16px;
	font-weight: bold;
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
}

#content h2 {
	color: #333;
	background-color: #efefef;
	font-weight: normal;
	font-size: 22px;
	margin: 0 0 15px 0;
	padding: 3px 2px 3px 10px;
}

.tabberlive .tabbertabhide {
	display: none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
	
}

.tabberlive {
	margin-top: 1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav {
	margin: 0;
	padding: 3px 0;
	border-bottom: 1px solid #778;
	font: bold 12px Verdana, sans-serif;
}

ul.tabbernav li {
	list-style: none;
	margin: 0;
	display: inline;
}

ul.tabbernav li a {
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #778;
	border-bottom: none;
	background: #DDE;
	text-decoration: none;
}

ul.tabbernav li a:link {
	color: #448;
}

ul.tabbernav li a:visited {
	color: #667;
}

ul.tabbernav li a:hover {
	color: #000;
	background: #AAE;
	border-color: #227;
}

ul.tabbernav li.tabberactive a {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover {
	color: #000;
	background: white;
	border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
	padding: 5px;
	border: 1px solid #aaa;
	border-top: 0;
	/* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */ /* height:200px; */
	/* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */ /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
	display: none;
}

.tabberlive .tabbertab h3 {
	display: none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
	
}

.tabberlive#tab2 {
	
}

.tabberlive#tab2 .tabbertab {
	height: 200px;
	overflow: auto;
}