#footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 5px;
	font-weight: bold;
}

#encab {
	background: url(modbus_top.png) repeat-x;
}

#cerrar {
	position: absolute;
	right: 10px;
	top: 10px;
}

body {
	background: url(modbusbg.jpg) center 40px no-repeat;
	margin: 0;
	padding: 0;
}

a:link,a:visited {
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #999999;
}