#content {
	width: 100%;
}

.divider {
	clear: both;
	width: 550px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #cccccc;
}

.left {
	float: left;
	padding: 5px 5px 0 5px;
	width: 100px;
	background-color: #EEEEEE;
}

.right {
	float: left;
	width: 640px;
	/*min-width: 700;*/
	margin: 0 0 0px 0;
	padding: 5px 5px 0 5px;
	color: #000;
	background-color: #FFFFFF;
	border-left: 1px solid #e6e6e6;
}

.line {
	height: 2px;
	margin: 10px 0 10px 0;
}

.footer {
	clear: both;
	color: #999999;
	padding: 10px 0 10px 0;
	border-top: 1px solid #e6e6e6;
	text-align: center;
	line-height: 13px;
}

.footer a {
	text-decoration: underline;
}

.code {
	margin: 0 0 20px 0;
	font: 11px "courier new", Tahoma, Arial, sans-serif;
	background: #f9f9f9;
	padding: 0px;
	border: 1px solid #dddddd;
}

.note {
	padding: 10px;
	background-color: #FFFFCC;
}

.note hr {
	border: none 0;
	border-bottom: 1px solid #D9D900;
	height: 1px;
}

body {
	background-color: #fff;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-size: 12px;
	color: #4F5155;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 16px;
	font-weight: bold;
	margin: 24px 0 2px 0;
	padding: 5px 0 6px 0;
}

#content h2 {
	color: #333;
	background-color: #EFEFEF;
	font-weight: normal;
	font-size: 22px;
	margin: 0 0 15px 0;
	padding: 3px 2px 3px 10px;
}

.encabe {
	clear: both;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #7C2121;
	/*border-bottom: 1px solid #cccccc; */
}