body {
	font: normal 12px/ 15px "Lucida Grande, Verdana, Sans-serif";
	color: #4f5155;
}

h1 {
	color: #444;
	border-bottom: 1px solid #d0d0d0;
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
	padding: 5px 0 6px 0;
}

code {
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
	font: normal 12px/ 14px "Monaco, Verdana, Sans-serif";
	color: #002166;
	border: 1px solid #d0d0d0;
	background-color: #f9f9f9;
}

#container {
	width: 760px;
	margin: 0 auto;
}

#header {
	width: 100%;
	background: #cdcdcd;
	margin-bottom: 20px;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
}

#content {
	display: inline;
	float: left;
	width: 510px;
	padding: 10px 20px 10px 10px;
	border-right: 1px dotted #d0d0d0;
	margin-bottom: 20px;
}

#column {
	float: left;
	width: 190px;
	padding: 10px;
	margin-bottom: 20px;
}

#footer {
	clear: both;
	width: 100%;
	height: 40px;
	border-top: 1px solid #d0d0d0;
}