#footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 5px;
	font-weight: bold;
}

#encabe {
	background-color: #2E4B77;
}

#cerrar {
	position: absolute;
	right: 10px;
	top: 10px;
}

body {
	background: url(reporte.jpg) center 40px no-repeat;
	margin: 0;
	padding: 0;
}

a:link,a:visited {
	color: #7C2121;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #999999;
}
